# Backend Configuration
# The port the Express server will listen on
PORT=8000

# MongoDB Connection String
# Replace with your local mongodb (e.g. mongodb://localhost:27017/task_tracker) 
# or a remote MongoDB Atlas URI
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/tasktracker?retryWrites=true&w=majority
